# 01_데이터프레임과 시리즈

- [DataFrame 공식 문서](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.html)
- [Series 공식 문서](https://pandas.pydata.org/docs/reference/api/pandas.Series.html)

## (1) 데이터 구조

- 데이터프레임: 2차원 테이블
- 시리즈: 1차원 테이블

- `values`: 데이터
- `index`: 행이름
- `columns`: 열이름

## (2) 데이터프레임, 시리즈 생성

In [1]:
import pandas as pd

### **데이터프레임**
### `데이터프레임명 = pd.DataFrame(데이터, index=인덱스, columns=컬럼)`

In [2]:
data1 = [[67, 93, 91, 88],
         [75, 69, 96, 69],
         [75, 81, 74, 82],
         [96, 65, 84, 66]]
idx1 = ['A', 'B', 'C', 'D']
col1 = ['국어', '영어', '수학', '과학']

df = pd.DataFrame(data1, index=idx1, columns=col1)
df

   국어  영어  수학  과학
A  67  93  91  88
B  75  69  96  69
C  75  81  74  82
D  96  65  84  66

### **시리즈**
### `시리즈명 = pd.Series(데이터, index=['인덱스'])`

In [3]:
data_2 = [67, 75, 75, 96]
s = pd.Series(data_2, index=['a','b','c','d'])
s

a    67
b    75
c    75
d    96
dtype: int64

## (3) 속성(attribute)
- `df.values`: 데이터 프레임의 값 가져오기
- `df.index`: 데이터 프레임의 인덱스 가져오기
- `df.columns`: 데이터 프레임의 컬럼 가져오기
- 시리즈도 동일하나 컬럼이 없음

In [4]:
df.values

array([[67, 93, 91, 88],
       [75, 69, 96, 69],
       [75, 81, 74, 82],
       [96, 65, 84, 66]])

In [5]:
df.index

Index(['A', 'B', 'C', 'D'], dtype='object')

In [6]:
df.columns

Index(['국어', '영어', '수학', '과학'], dtype='object')

## (4) 백터화 연산

### **데이터프레임**

In [7]:
print(df)
print(df > 80)

   국어  영어  수학  과학
A  67  93  91  88
B  75  69  96  69
C  75  81  74  82
D  96  65  84  66
      국어     영어     수학     과학
A  False   True   True   True
B  False  False   True  False
C  False   True  False   True
D   True  False   True  False

In [8]:
# 70 이상
result = df * (df >= 70)
result

   국어  영어  수학  과학
A   0  93  91  88
B  75   0  96   0
C  75  81  74  82
D  96   0  84   0

### **시리즈**

In [9]:
print(s)
s > 80

a    67
b    75
c    75
d    96
dtype: int64

a    False
b    False
c    False
d     True
dtype: bool

In [10]:
# 70 이상
result = s * (s >= 70)
result

a     0
b    75
c    75
d    96
dtype: int64