# 04_딕셔너리 (Dict)

## **(1) 딕셔너리의 주요 특징**

- { 키 : 값 }의 쌍으로 구성
    - {"name": "hanna", "age": 20}
    - 인덱스로 접근 불가
- 키값은 중복될 수 없음
- 딕셔너리는 생성 후 수정, 추가, 삭제가 가능함

## **(2) 딕셔너리 생성 및 기본 사용법**
**딕셔너리 생성**

In [1]:
# 빈 딕셔너리 생성
empty_dict = {}
print(empty_dict)

# 값 있는 딕셔너리 생성
data = {"name": "hanna", "age": 20, "city": "seoul"}
print(data)

{}
{'name': 'hanna', 'age': 20, 'city': 'seoul'}

**값 접근**

In [2]:
data = {"name": "hanna", "age": 20}

# 키로 값 가져오기
print(f'이름: {data["name"]}')
print(f'나이: {data["age"]}')

이름: hanna
나이: 20

**값 추가**

In [3]:
data = {"name": "hanna", "age": 20}

# 값 추가
data["city"] = "Seoul"
print(data)

{'name': 'hanna', 'age': 20, 'city': 'Seoul'}

**값 삭제**
- `del dict['key']`
- `dict.clear()`

In [4]:
data = {"name": "hanna", "age": 20}

# 일부 값 삭제
del data["age"]
print(data)

# 모든 값 삭제
data.clear()
print(data)

{'name': 'hanna'}
{}

## **(3) 딕셔너리 주요 메서드**
1. 모든 키 반환: `keys()`
2. 모든 값 반환: `values()`
3. 모든 키, 값 반환: `items()`
4. 지정한 키값 반환: `get()`
5. 지정한 키값 제거: `pop()`
6. 딕셔너리 갱신: `update()`

### ***1. 모든 키 반환***
### **`dict.keys()`**

In [5]:
person = {"name": "Alice", "age": 25, "city": "New York"}
print(person.keys())

dict_keys(['name', 'age', 'city'])

### ***2. 모든 값 반환***
### **`dict.values()`**

In [51]:
person = {"name": "Alice", "age": 25, "city": "New York"}
print(person.values())

dict_values(['Alice', 25, 'New York'])

### ***3. 모든 키, 값 반환***
### **`dict.items()`**

In [52]:
person = {"name": "Alice", "age": 25, "city": "New York"}
print(person.items())

dict_items([('name', 'Alice'), ('age', 25), ('city', 'New York')])

### ***4. 지정한 키값 반환***
### **`dict.get('key', '예외처리문')`**
- 예외처리가 적용된 함수

In [53]:
person = {"name": "Alice", "age": 25}
print(person.get("city", "값없음"))

값없음

### ***5. 지정한 키값 제거***
### **`dict.pop('key')`**

In [58]:
person = {"name": "Alice", "age": 25}
age = person.pop("age")
print(age)
print(person)

25
{'name': 'Alice'}

### ***6. 딕셔너리 갱신***
### **`dict.update({키:값}, {키:값})`**

In [59]:
person = {"name": "Alice", "age": 25}
print(f'워: {person}')

person.update({"city": "New York", "age": 26})
print(f'갱신 후: {person}')

{'name': 'Alice', 'age': 26, 'city': 'New York'}